@font-face {
	font-family: "mona";
	src: url('mona.tff');
}

pre {background-color: #eee; border:1px solid black}
a {color:#153}
body {padding:2% 5%; background-color:#e0e4e9}
table {border-collapse: seperate;
  border-spacing: 0;
  border: 0px solid #000;}
th {background-color: #444; color: #e4e4e4}
td {background-color: #f4f4f4}
th, td {border: 1px solid #000; 
  padding: 3px;}

div.thread {
  width: 680px;
  border-right: 13px solid black;
  padding-right: 28px;
  text-align: justify;
  word-wrap: break-word;
  hyphens: auto;
}

hr {
	width: 620px;
	text-align: left;
	margin-left: 0;
}

div.thread > p {padding-left: 4%; line-height: 1.4em}

div.thread > i {padding-left: 0%}

.motd {background-color:white; 
  padding-left: 30px; 
  width:580px; 
  border:1px dashed black
  text-align: justify;}

.bump {color: #153; font-weight: bold}
.sage {color: #444; font-weight: bold; font-style: italic}
.trip {color: #889; font-weight: normal}
.admin{color: #0cc; font-weight: bold}
.rmr {padding-top:0.5em;
	  padding-left: 2em;
	  height: 1.6em;
	  background-color:#ffc;
	  font-style: italic;}

.quote {color: #580}
a.thread {color: #153; font-weight:bold}
.post {background-color: #f2f2f2}
.aa {
	   font-size-adjust:none;
	   background-color: #eee;
	   border:1px solid black;
       white-space: pre}

.spoiler {color: black; background-color:black}
.spoiler:hover {color: white; background-color: black}