/* vBulletin archives style for iyagi by ssz */

/* General */
body {
  background: #EEEEEE;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
}
hr {
  visibility: hidden;
  display: none;
}
img[src*="./img/"] {
  width: 12px;
}
h2 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: -8px;
}
h2 a[href="#tbox"] {
  color: silver;
}
body > div:nth-last-child(1) {
  padding: 0 0 0 0 !important;
  font-style: normal !important;
  float: right;
}
body div:nth-last-child(1) a {
  color: black;
}
body div:nth-last-child(1) a:hover {
  color: red;
}

/* Thread list table */
p table {
  font-size: 11px;
  border: 1px solid silver;
  position: absolute;
  right: 18px;
  top: 64px;
}
table {
  font-size: 11px;
}
th {
  background: #EEEEEE;
}
.thread .reply:nth-last-of-type(1) {
  border: none !important;
  padding: 0 0 0 0 !important;
}

/* Reply form table */ 
.reply form table {
  border: 1px solid silver !important;
}
.reply form table tr:nth-of-type(1) td:nth-of-type(1) {
  background-color: #EEEEEE !important;
  color: black !important;
  padding: 4px !important;
}
.reply form table tr:nth-of-type(2) td:nth-of-type(1) {
  height: auto !important;
  width: auto !important;
}
.reply form table tr:nth-of-type(2) td:nth-of-type(1) input {
  width: 85% !important;
}
.reply form table tr:nth-of-type(2) td:nth-of-type(2) {
  width: 70px !important;
}
.reply form table tr:nth-of-type(2) td:nth-of-type(3) {
  width: 1px !important;
}

/* Thread creation form table */
.front > form table {
  border: 1px solid silver !important;
  background-color: white !important;
}
.front > form table tr:nth-of-type(1) td:nth-of-type(1) {
  background-color: #EEEEEE !important;
  color: black !important;
  padding: 4px !important;
}
.front > form table tr:nth-of-type(2) td:nth-of-type(1) {
  width: 50px !important;
}
.front > form table tr:nth-of-type(2) td:nth-of-type(2) {
  width: auto !important;
}
.front > form table tr:nth-of-type(2) td:nth-of-type(2) input {
  width: 100% !important;
}
.front > form table tr:nth-of-type(3) td:nth-of-type(1) {
  width: 50px !important;
}
.front > form table tr:nth-of-type(3) td:nth-of-type(2) input {
  width: 100% !important;
}
.front > form table tr:nth-of-type(3) td:nth-of-type(3) {
  width: 0% !important;
}
.front > form table tr:nth-of-type(4) td:nth-of-type(1) textarea {
  min-width: 100% !important;
}

/* Both */
table input {
  border: 1px solid grey !important;
}
input[type="submit"] {
  float: right;
}
form table tr td textarea {
  border: 1px solid silver !important;
  min-width: 100%;
}

/* Threads */
.front > .thread {}
.thread {
  background: white;
  padding: 16px;
  margin-bottom: 8px;
  border: 1px solid silver;
}
.thread > h3 {
  text-align: left;
  font-size: 10pt;
  font-weight: bold;
  margin-top: -4px;
}
.thread h3 a {
  color: black;
  text-decoration: none;
}
.thread h3 a:hover {
  color: red;
  text-decoration: none;
}
.thread > i {
  color: silver;
}

/* Posts */
.reply {
  border: 1px solid silver;
  padding: 1px;
  margin-bottom: 16px;
}
div .title {
  padding: 4px;
  background: #EEEEEE;
}
div .comment {
  padding: 4px;
  background: #F9F9F9;
}
.bump, .sage {
  font-weight: bold;
  width: auto;
}
.sage {
  border-bottom: 1px dotted black;
}
.trip {
  font-style: italic;
}
.admin{
  color: #800020;
  font-weight: bold;
}
.quote {
  color: silver;
}

/* Other, partially taken from "0ch" */
//@font-face {
  font-family: "mona";
  src: url("mona.tff");
}
.rmr {
  padding: 4px;
  max-width: 600px;
  border: 1px dotted #888;
  background-color: #ffc;
  font-style: italic;
}
.bl {
  display: inline;
  font-style: italic;
}
.bl > a {
  color: blue !important;
}
.bl > a:hover {
  color: red !important;
}
pre {
  max-width: 500px;
  font-size-adjust:none;
  background-color: #fff;
  border:1px solid black;
  white-space: pre;
  margin-left:5%
}
pre > hr {
  max-width: 500px;
}
.spoiler, .spoiler > .quote {
  color: black;
  background-color:black !important
}
.spoiler:hover, .spoiler:hover > .quote {
  color: white;
  background-color: black !important
}
.youtube {
  background-size: 480px 320px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  overflow: hidden;
  transition: all 200ms ease-out;
  cursor: pointer;
  margin:0 0 0 4%;
}
iframe {
  margin: 9px 0 0 4%;
  display:block;
  background-position:center;
}
.youtube .play {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAERklEQVR4nOWbTWhcVRTHb1IJVoxGtNCNdal2JYJReC6GWuO83PM/59yUS3FRFARdFlwYP1CfiojQWt36sRCUurRIdVFXIn41lAoVdRGrG1M01YpKrWjiYmaSl8ybZJL3cd+YA//NLObd3++eO8x79z5jSq5Gw+8kov0AP8vMR5l1BtBZQM4B8ks75wCdZdYZZj5qLZ4hov2Nht9Z9vhKKSIaB/gI4M4w62KeAO6Mte4lYOq20FxrlqqOibhHmeWbvNC9ZfDX1mLae391aN6limO/gwgvAPJbWeAZuSDingdwXTBw7/0IsyaA/Fkh+KqOkD+YNfHej1QKD+y7iVlOhgLvFqFfNJvNGyuBJ+KDAF8MDd0tgS8y64OlgSdJMsysL4cG7SOHkyQZLhTee7+d2R2rAVy/S+Jd7/32ouBHAP4gNNRGQyTHc/84NhqNywZp5rvjjnnvt21aABFeCQ+RLwAf2hQ8s7sv9OCLk6AHNgQvIrvbfzKCD76g/O6cu7lf/iER/aQGgy448pExZmhdegAPhR9sObFWH1gT3lp7DaA/5bkIgJhZPgsNmz02novj+KqeApj1ubwXWe4kdyeznAgNvTpE/HQmvKqOMeuFogTUVQSRno+iaLRLAJF7uIgL9O4ubgL8aWgB7S44mNX+35YpICUiAvS9sBLkq1WzT+NFffl6AuoiApi6NT37h6sWkBIRZGkQ8YtLgyji6e1mBYTqCEBPG2Naz+0BWQgtoGoRgCzEsd9hAN1X5BfnFZASUfrSAFQNsyZ1FJASUVpHiLinDJG8U2cBZYogkrcNs5waBAGdstbeU9zdqpw0gPwwSAI6VUxHyFlDpOcHUUBBIuYNs14aZAE5RVwyzPr3/0EAEY0TyfGNjBWQvwZ+CTSbehfAH29mrID8bET0+0EUkAd8WYDOmqJ3ecsG30yr9wqRfm6Y+a1BEFDEjHfHvWmY9ck6CygHvBVr8Xhtb4ZE5HZA3y8DvBNA1TjnrmXWf+sioMwZX5V/VHXMGGMMoKdDCxCRvRWBdzKzdHEO+EisilbPyopHYqp6S9UCAsz4iojI7hUDAtyXVQgIDd6KnOoaWNkbI6FaPSuZGyMArsi7MZoloB4zviI/Nhr3X95jltwTRQmoIfgisy5ai+me67OI7fE4nrqjrqfK1t0eby0FPRB6oGVlchL3rgnfrq19RKbVBdhV9IOSwJmfmJi4vi/4ThERitwyCxVAFqydshuCX5awhQ9KtmuIWd8IDZED/nXT77rvVVv6sHRKwjYi91poqP7Dr+Y6JJ1VSZIMA3wkPNy6bX+o8Bcm0sXMdwM8Fxo0A3xORPaWBp6uPXsmbxCRD0NDL0dOANhVCXy6iAjMcjbcrMt3RITKwdMVRdFo+y5yvkL4eWZ+zHt/ZVD4dEVRNGotpst+dZZZH8k86lqn2pIvT/eqrNfn2xuyqYPZ8mv7s8pfn/8Pybm4TIjanscAAAAASUVORK5CYII=") no-repeat center center;
  background-size: 64px 64px;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.youtube .play:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
